@import "tailwindcss";

/* Global Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    /* slate-700 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
    /* slate-600 */
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
}