version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - MONGO_DB=Documind
      - JWT_SECRET=devsecret
      - GROQ_API_KEY=${GROQ_API_KEY}     
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app

  frontend:
    build: 
      context: ./client   
      dockerfile: Dockerfile
    ports:
      - "5173:80"         
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
