fastapi
uvicorn
python-dotenv
pymongo
motor
python-jose[cryptography]
passlib[argon2]
langchain
openai
faiss-cpu
pytest
python-multipart
openai-whisper
ffmpeg-python
requests
pydantic-settings
langchain-google-genai
langchain-groq
email-validator
argon2-cffi
pypdf
pytest-asyncio
httpx
pytest-cov
mongomock
mongomock-motor
